@import '../../../adaptive/adaptive.scss';

main {
  @include respond-to(848px) {
    &:hover {
          .carousel-slider .control-arrow {
            opacity: 0.5;
          }
      };
  }
}

.title {
  width: 1116px;
  @include respond-to(1180px) {width: 980px}
  @include respond-to(1024px) {width: 875px}
  @include respond-to(910px) {width: 100%}
  position: absolute;
  height: 439px;
  @include respond-to(680px) {height: 320px;}
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  overflow: hidden;

  h2, p {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
  }

  h2 {
    position: absolute;
    width: 100%;
    margin-top: 157px;
    @include respond-to(680px) {margin-top: 70px}
    font-size: 50px;
    @include respond-to(480px) {font-size: 35px}
    line-height: 60px;
  }

  p {
    position: absolute;
    width: 100%;
    margin-top: 222px;
    @include respond-to(680px) {margin-top: 145px}
    font-size: 30px;
    @include respond-to(480px) {font-size: 27px}
    line-height: 36px;
  }

  button {
    position: absolute;
    width: 205px;
    height: 40px;
    @include respond-to(768px) {
      height: 60px;
      font-size: 17px;
    }
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 354px;
    @include respond-to(680px) {top: 240px}
    z-index: 1;
  }

  .rectangle {
    @include respond-to(768px) {display: none}
    position: absolute;
    width: 1116px;
    @include respond-to(1180px) {width: 100%}
    height: 282px;
    left: 50%;
    transform: translateX(-50%) matrix(1, 0, 0, -1, 0, 0);
    margin-left: -12px;
    top: 144px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 23.22%, rgba(0, 0, 0, 0.14) 42.37%, rgba(0, 0, 0, 0) 56.3%);
  }
}

.ellipse_1 {
  position: absolute;
  width: 1017px;
  @include respond-to(1180px) {width: 880px}
  @include respond-to(1024px) {width: 90%}
  height: 156px;
  left: 50%;
  transform: translateX(-50%);
  top: 190px;
  @include respond-to(680px) {top: 100px}
  background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.ellipse_2 {
  position: absolute;
  width: 593px;
  @include respond-to(1180px) {width: 512px}
  @include respond-to(768px) {width: 50%}
  height: 156px;
  left: 50%;
  transform: translateX(-50%);
  top: 238px;
  @include respond-to(680px) {top: 170px}
  background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.tickets {

  & * {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    @include respond-to(480px) {font-size: 30px}
    line-height: 40px;
  }

  &__title {
    margin-top: 31px;
  }

  &__amount {

    &::after{
      content: ' 1000';
      color: rgba(0, 0, 0, 0.41);


    }
  }
}

.aboutPlatform {
  flex: 1;
  @include respond-to(910px) {
    flex: none;
    width: 40%;
  }
  align-self: start;

  @include respond-to(848px) {
    flex: none;
    width: 100%;
  }

  &__scroll-box {
    margin-left: 42px;
  }

  &__title {
    margin-top: 47px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
  }

  &__description {
    max-width: 326px;
    @include respond-to(848px) {max-width: none}
    margin-top: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    @include respond-to(848px) {font-size: 16px}
    line-height: 24px;
    color: #939393;

    &-header {
      max-width: 374px;
      @include respond-to(848px) {max-width: none}
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      @include respond-to(848px) {font-size: 17px}
      line-height: 20px;
    }
  }
}

.application {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 11px 25px 0 25px;
  margin-top: 47px;
  width: 56.181%;
  @include respond-to(848px) {
    width: 100%;  
  }
  min-height: 272px;
  @include respond-to(480px) {min-height: 320px}
  border: 1px solid #DADADA;
  text-align: center;

  &__title {
    text-align: left;
    margin-top: 0;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    @include respond-to(480px) {line-height: 25px}
  }

  &__textarea {
    box-sizing: border-box;
    padding: 10px 20px;
    @include respond-to(480px) {padding: 10px}
    max-width: 100%;
    min-width: 100%;
    border: 1px solid #0D1E4B;
    min-height: 134px;
    @include respond-to(480px) {min-height: 200px}
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    @include respond-to(848px) {font-size: 15px}
    line-height: 15px;
    white-space: normal;

    &::placeholder {
      position: absolute;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      @include respond-to(848px) {font-size: 15px}
      line-height: 15px;
      color: #969696;
    }
  }

  &__submit {
    margin-top: 16px;
    margin-bottom: 25px;
    margin-left: auto;
    padding: 10px 20px;
    background: #101010;
    border: 1px solid #0D1E4B;
    width: 101px;
    height: 35px;
    @include respond-to(600px) {
      height: 50px;
      width: 170px;
    }

    @include respond-to(848px) {
      height: auto;
      width: 140px;
    }
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    @include respond-to(848px) {font-size: 13px}
    @include respond-to(600px) {font-size: 17px}
    line-height: 15px;
    text-transform: capitalize;
    color: #FFFFFF;
  }
}

.about {
  margin-top: 48px;
  margin-bottom: 38px;
  @include respond-to(600px) {flex-direction: column}

  &__title {
    margin-top: -20px;
    flex: 1;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    @include respond-to(600px) {margin-bottom: 0;}
  }

  &__text {
    flex: 5.3374;
    @include respond-to(1180px) {flex: 3;}
    @include respond-to(680px) {flex: 2;}
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #939393;
  }
}

.carousel {
  max-width: 1116px;
  @include respond-to(1180px) {width: 980px}
  @include respond-to(1024px) {width: 875px}
  @include respond-to(910px) {width: 100%}
  margin: 0 auto;
  max-height: 439px;
  @include respond-to(680px) {max-height: 320px;}

  @include respond-to(848px) {
    &:hover {
          .carousel-slider .control-arrow {
            opacity: 0.5;
          }
      };
  }
  
    .carousel-slider .control-arrow {
      top: 354px;
      @include respond-to(848px) {top: 0};
      box-sizing: border-box;
      height: 40px;
      @include respond-to(848px) {height: 100%};
      width: 40px;
      @include respond-to(768px) {width: 80px}
      opacity: 1;
      border: 1px solid #FFFFFF;
      margin: 0 61px;
      @include respond-to(848px) {
        margin: 0;
        opacity: 0;
      };

      &:hover {
        background: #FFFFFF;

        &::before {
          border-top: 1.3px solid #0D1E4B;
          border-right: 1.3px solid #0D1E4B;
          @include respond-to(768px) {
            border-top: 5.3px solid #0D1E4B;
            border-right: 5.3px solid #0D1E4B;
          }
        }
      }

      &::before {
        margin: 10px 10px;;
        width: 5px;
        height: 5px;
        border-top: 1.3px solid #FFFFFF;
        border-right: 1.3px solid #FFFFFF;
        @include respond-to(768px) {
          width: 20px;
          height: 20px;
          border-top: 5.3px solid #FFFFFF;
          border-right: 5.3px solid #FFFFFF;
        }
        transform: rotate(45deg);
        border-left: none;
        border-bottom: none;
      }
    }

    .control-prev.control-arrow:before {
      transform: rotate(225deg);
    }

    &__img {
      position: absolute;
      height: 439px;
      @include respond-to(680px) {height: 320px;}
      left: 0;
      object-fit: none;
      object-position: 50% 50%;

    &-container {
      overflow: hidden;
      max-height: 439px;
      @include respond-to(680px) {max-height: 320px;}
    }
  }
}

.about_and_form {
  justify-content: space-between;
  @include respond-to(848px) {flex-direction: column}
}