.title {
  width: 1116px;
  position: absolute;
  height: 439px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  overflow: hidden;

  h2, p {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
  }

  h2 {
    position: absolute;
    width: 100%;
    margin-top: 157px;
    font-size: 50px;
    line-height: 60px;
  }

  p {
    position: absolute;
    width: 100%;
    margin-top: 222px;
    font-size: 30px;
    line-height: 36px;
  }

  button {
    position: absolute;
    width: 205px;
    height: 40px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 354px;
    z-index: 1;
  }

  .rectangle {
    position: absolute;
    width: 1116px;
    height: 282px;
    left: 50%;
    transform: translateX(-50%) matrix(1, 0, 0, -1, 0, 0);
    margin-left: -12px;
    top: 144px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 23.22%, rgba(0, 0, 0, 0.14) 42.37%, rgba(0, 0, 0, 0) 56.3%);
  }
}

.ellipse_1 {
  position: absolute;
  width: 1017px;
  height: 156px;
  left: 50%;
  transform: translateX(-50%);
  top: 190px;
  background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.ellipse_2 {
  position: absolute;
  width: 593px;
  height: 156px;
  left: 50%;
  transform: translateX(-50%);
  top: 238px;
  background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.tickets {

  & * {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
  }

  &__title {
    margin-top: 31px;
  }

  &__amount {

    &::after{
      content: ' 1000';
      color: rgba(0, 0, 0, 0.41);


    }
  }
}

.aboutPlatform {
  flex: 1;

  &__scroll-box {
    margin-left: 42px;
  }

  &__title {
    margin-top: 47px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
  }

  &__description {
    max-width: 326px;
    margin-top: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #939393;

    &-header {
      max-width: 374px;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.application {
  margin-top: 47px;
  position: relative;
  flex: 1.2821;
  height: 272px;
  border: 1px solid #DADADA;
  text-align: center;

  &__title {
    text-align: left;
    margin-left: 26px;
    margin-top: 13px;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
  }

  &__textarea {
    box-sizing: border-box;
    padding: 10px 20px;
    width: 90.165%;
    border: 1px solid #0D1E4B;
    height: 134px;
    margin: 0 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    white-space: normal;

    &::placeholder {
      position: absolute;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 15px;
      color: #969696;
    }
  }

  &__submit {
    position: absolute;
    right: 25px;
    bottom: 25px;
    padding: 10px 20px;
    background: #101010;
    border: 1px solid #0D1E4B;
    width: 101px;
    height: 35px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: capitalize;
    color: #FFFFFF;
  }
}

.about {
  margin-top: 48px;
  margin-bottom: 38px;

  &__title {
    margin-top: -20px;
    flex: 1;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
  }

  &__text {
    flex: 5.3374;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #939393;
  }
}