@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500;700&display=swap');

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('ProximaNova-Regular.eot');
  src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-Regular.woff') format('woff'),
  url('ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'Proxima Nova Light';
    src: url('ProximaNova-Light.eot');
    src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Light.woff') format('woff'),
    url('ProximaNova-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

/* .box-name {font-family: 'Proxima Nova Light';} */
/* font-family: 'Alegreya Sans SC', sans-serif; */