.carousel {
  max-width: 1116px;
  margin: 0 auto;
  max-height: 439px;

    .carousel-slider .control-arrow {
      top: 354px;
      box-sizing: border-box;
      height: 40px;
      width: 40px;
      opacity: 1;
      border: 1px solid #FFFFFF;
      margin: 0 61px;

      &:hover {
        background: #FFFFFF;

        &::before {
          border-top: 1.3px solid #0D1E4B;
          border-right: 1.3px solid #0D1E4B;
        }
      }

      &::before {
        margin: 10px 10px;;
        width: 5px;
        height: 5px;
        border-top: 1.3px solid #FFFFFF;
        border-right: 1.3px solid #FFFFFF;
        transform: rotate(45deg);
        border-left: none;
        border-bottom: none;
      }
    }

    .control-prev.control-arrow:before {
      transform: rotate(225deg);
    }

    &__img {
      position: absolute;
      top: calc(50% - 219.5px);
      left: 0;
      object-fit: none;
      object-position: 50% 50%;

    &-container {
      overflow: hidden;
      max-height: 439px;
    }
  }
}