.profile {
    &__header {
        max-width: 1116px;
        margin-top: 36px;
        margin-left: auto;
        margin-right: auto;
    }

    &__name {
        margin: 0;
        padding-top: 11px;
        padding-left: 18px;
        flex: 1;
        border: 1px solid #000000;
        box-sizing: border-box;
        height: 64px;
        font-weight: 500;
        font-size: 35px;
        line-height: 40px;
        color: #000000;
    }

    &__space {
        border: 1px solid #000000;
        box-sizing: border-box;
        height: 64px;

        &:nth-child(1) {
            width: 53px;
        }

        &:nth-child(3) {
            width: 62px;
        }
    }

    &__data {
        max-width: 1116px;
        margin: 0 auto;
        margin-top: -1px;

        & * {
            box-sizing: border-box;
        }

        &-space {
            height: 45px;
            border: 1px solid #000000;

            &:nth-child(1) {
                width: 53px;
            }

            &:nth-child(7) {
                width: 62px;
            }
        }

        &-posts {
            max-width: 1116px;
            margin: 0 auto;
            text-align: start;
            box-sizing: border-box;
            border: 1px solid #000000;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 17px;
            color: #000000;
            padding: 14px 64px;

            &:hover {
                background-color: rgb(234, 234, 234);
            }


            li {
                list-style-image: url("../../../resources/img/posts.svg");
                &:nth-child(n+4) {display: none;}
                &::first-letter{text-transform: capitalize};
                &:not(:nth-child(1)) {margin-top: 5px}
            }

            &--active {
                max-width: 1116px;
                margin: 0 auto;
                text-align: start;
                box-sizing: border-box;
                border: 1px solid #000000;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 17px;
                color: #000000;
                padding: 14px 64px;

                &:hover {
                    background-color: rgb(234, 234, 234);
                }

                li {
                    list-style-image: url("../../../resources/img/posts.svg");
                    &::first-letter{text-transform: capitalize};
                    &:not(:nth-child(1)) {margin-top: 5px}
                }
            }
        }

        &-item {
            flex: 1;
            text-align: center;
            padding: 14px 18px;
            border: 1px solid #000000;
            height: 45px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 17px;
            color: #000000;
            white-space: nowrap;

            &:nth-child(2) {
               text-align: left;
            }

            &:nth-child(6) {
                text-align: start;
                padding-top: 5px;
                & div::first-letter{
                    text-transform: capitalize;
                }
            }
        }
    }

}

.post {
    max-width: 1116px;
    margin: 14px auto;
    padding-left: 53px;
    padding-right: 53px;
    padding-bottom: 22px;
    border: 1px solid #000000;
    box-sizing: border-box;

    &__slide {
        display: flex;
    }

    &__title {
        margin-top: 27px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 35px;
        line-height: 40px;
    }

    &__item {
        position: relative;
        width: 48.489%;
        height: 143px;
        border: 1px solid #000000;
        text-align: start;

        &:hover {
            background-color: rgb(234, 234, 234);
            p {color: #000000}
        }

        &_selected {
            height: auto;
            min-height: 143px;
            

            .post__item-body {
                display: inline-table;
            }

            .post__item-title {
                display: inline-table;
            }
        }

        &:not(:nth-child(1)) {
            margin-left: 19.24px;
        }

        &-date {
            position: absolute;
            right: 22.76px;
            top: 10px;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            text-transform: capitalize;
        }

        &-title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            margin-top: 10px;
            margin-left: 34.91px;
            margin-right: 20%;
            margin-bottom: 0;
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 23px;
            text-transform: capitalize;
        }

        &-body {
            height: 85px;
            margin-top: 4px;
            margin-left: 35px;
            margin-right: 34.76px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            // три точки в конце 5-й строки, если высота более 85px
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.41);
        }
    }
}

.carousel  {
    .control-prev.control-arrow:before {
      transform: none;
    }
}