@import './fonts/fonts.css';

body {
  margin: 0;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
}

.container {
  width: 995px;
  padding: 0 61px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-sb {
  justify-content: space-between;
}